.texto {
    -fx-font-family: "Comfortaa";
}

.esporte {
	-fx-font-size: 27;
}

#logo {
	-fx-background-image: url("../imagens/logo.png");
}

.box-principal {
	-fx-background-image: url("../imagens/background.jpg");
}

.box-trnsparente {
	-fx-background-image: url("../imagens/background-transparente.png");
}

#box-futsal {
	-fx-background-image: url("../imagens/background-futsal.jpg");
}

#box-basquete {
	-fx-background-image: url("../imagens/background-basquete.jpg");
}