.fonte-digital {
    -fx-font-family: "DS-Digital";
}

.cronometro {
    -fx-font-size: 180;
}

.pontos {
    -fx-font-size: 120;
}

.infos-inferior {
    -fx-font-size: 76;
}

.propaganda {
    -fx-font-size: 96;
}

.font-size-medio {
    -fx-font-size: 65;
}

.font-size-pequeno {
    -fx-font-size: 35;
}

.font-size-pequeno-2 {
    -fx-font-size: 25;
}

.fonte-padrao {
    -fx-font-family: "Comfortaa";
}